.App {
    background: left/200% no-repeat url("/src/p2-homeworks/h2/image/samurai.jpg");
    color: white;
    text-shadow: 1px 1px 2px ghostwhite, 0 0 1em darkgrey, 0 0 0.2em darkgray;
    padding: 20px;


}
